<nav class="navbar">
<h2>Social<span>Hub</span></h2>

<div>
  <a href="/feed">Home</a>
  <a href="/create_post">Create post</a>
  <a href="/profile">Profile</a>
  <a href="/logout">Logout</a>
</div>
</nav>